<!--================ start footer Area =================-->
<footer id="footer" class="footer-area section_gap_new">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="single-footer-widget">
          <div class="col-lg-12 text-center">
            <div class="media contact-info">
              <span class="contact-info__icon"><i class="fa fa-home"></i></span>
              <div class="media-body">
                <h3 style="color:white !important;margin-top: -15px;">Санкт-Петербург</h3>
                <h3 style="color:white !important;padding-top:0px">проспект Самойловой, д.5, литера С</h3>
              </div>
            </div>
            <div class="media contact-info">
              <span class="contact-info__icon"><i class="fas fa-phone-volume" style="margin-top:10px;"></i></span>
              <div class="media-body">
                <a style="color:white !important;padding-top:0px" href="tel:88124080998"> 8 (812) 467 48 72</a><br />
                <a style="color:white !important;padding-top:0px" href="tel:84994080098"> 8 (495) 414 28 72</a>
              </div>
            </div>
            <div class="media contact-info">
              <span class="contact-info__icon"><i class="fa fa-envelope-o"></i></span>
              <div class="media-body">
                <h3 style="color:white !important;margin-top:-10px;"><a style="color:white !important;padding-top:0px" href="mailto:info@at-t.ru">info@at-t.ru</a></h3>
              </div>
            </div>
            <div class="media contact-info">
              <span class="contact-info__icon"><i class="fa fa-download"></i></span>
              <div class="media-body">
                <h3 style="color:white !important;padding-top:5px"><%= link_to 'Реквизиты', 'assets/props.pdf', download: 'реквизиты', style: "color:white !important;padding-top:0px" %></h3>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2001.4810669576889!2d30.385778916095074!3d59.89096418185886!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46962fd918f9dca1%3A0xc58f42b113ce4c5!2z0YPQuy4g0KHQsNC70L7QstCwLCA1MtCQLCDQodCw0L3QutGCLdCf0LXRgtC10YDQsdGD0YDQsywgMTkyMTAy!5e0!3m2!1sru!2sru!4v1570786727238!5m2!1sru!2sru" width="400" height="300" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
      </div>
    </div>
  </div>
</footer>
