<!--================Header Menu Area =================-->
<header class="header_area">
  <div class="main_menu">
    <nav class="navbar navbar-expand-lg w-100" style="background-color: white;">
      <div id="menu" class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <a class="navbar-brand logo_h" href="https://at-t.ru">
          <%= image_tag "logo.png" %>
        </a>
        <div class="navbar-item phones text-center">
          <%= image_tag "feature/telephone.png" , class: "lazy", style: "margin-top: -6px;width: 9%;"%> <b><a style="color:black !important;padding-top:0px;" href="tel:88124674872">8 (812) 467 48 72</a></b><br />
          <%= image_tag "feature/telephone.png" , class: "lazy", style: "margin-top: -6px;width: 9%;"%> <b><a style="color:black !important;padding-top:0px;" href="tel:84954142872"> 8 (495) 414 28 72</a></b>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
          <div class="row w-100">
            <div class="col-lg-12 pr-lg-0">
              <ul class="nav navbar-nav ml-auto justify-content-end">
                <% if current_page?(root_url) %>
                  <li class="nav-item">
                    <a style="font-size:16px" class="nav-link" href="#">Главная</a>
                  </li>
                  <li class="nav-item ">
                    <a style="font-size:16px" class="nav-link" href="#calculator">Калькулятор доставки</a>
                  </li>
                  <li class="nav-item ">
                    <a style="font-size:16px" class="nav-link" href="#about">О компании</a>
                  </li>
                  <li style="border-bottom:0" class="nav-item ">
                    <a  style="font-size:16px" class="nav-link" href="#footer">Контакты</a>
                  </li>
                <% else %>
                  <li class="nav-item">
                    <a style="font-size:16px" class="nav-link" href="https://att-logistic.herokuapp.com">Главная</a>
                  </li>
                  <li class="nav-item ">
                    <a style="font-size:16px" class="nav-link" href="https://att-logistic.herokuapp.com/#calculator">Калькулятор доставки</a>
                  </li>
                  <li class="nav-item ">
                    <a style="font-size:16px" class="nav-link" href="https://att-logistic.herokuapp.com/#about">О компании</a>
                  </li>
                  <li style="border-bottom:0" class="nav-item ">
                    <a  style="font-size:16px" class="nav-link" href="https://att-logistic.herokuapp.com/#footer">Контакты</a>
                  </li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </div>
</header>
<!--================Header Menu Area =================-->
