<div class="modal-header">
  <h4 style="color:black !important;padding-left:100px" class="modal-title" id="myModalLabel">Связаться с менеджером</h4>
</div>
<div class="modal-body">
  <%= form_for(@phone, url: phone_order_path, method: :post, remote: :true) do |form| %>
  <div class="col-lg-12">
    <div class="form-group">
      <%= form.label :Имя %><sup>*</sup>
      <%= form.text_field :first_name, required: true, class: "form-control", placeholder: "Имя", onfocus: "this.placeholder = ''", onblur: "this.placeholder = 'Имя'" %>
      <%= form.label :Фамилия %>
      <%= form.text_field :last_name, class: "form-control", placeholder: "Фамилия", onfocus: "this.placeholder = ''", onblur: "this.placeholder = 'Фамилия'" %>
      <%= form.label :Телефон %><sup>*</sup>
      <%= form.phone_field :phone, required: true, class: "form-control", placeholder: "Телефон", onfocus: "this.placeholder = ''", onblur: "this.placeholder = 'Телефон'" %>
    </div>
    </div>
    <%= button_to 'Отправить заявку', phone_order_path, method: :post, class: 'main_btn mt-md-0 mt-4', style: 'margin-left:15px;' %>
    <% end %>
</div>
<div class="modal-footer">

</div>