<!--================ Home Banner Area =================-->
<section class="home_banner_area">
  <div class="banner_inner d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-7">
          <div  id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner" style="width:650px">
              <div class="carousel-item active">
                <%= image_tag "feature/slide1.png", class: "d-block w-700", alt: "First slide", width: "650px"%>
              </div>
              <div class="carousel-item">
                <%= image_tag "feature/slide2.png", class: "d-block w-700", alt: "Second slide", width: "650px"%>
              </div>
              <div class="carousel-item">
                <%= image_tag "feature/slide3.png", class: "d-block w-700", alt: "Second slide", width: "650px"%>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-5">
          <div class="card" style="border-radius: 0px">
            <div class="card-header text-center">
              <b style="color: black">Санкт-Петербург</b> <i class="fas fa-arrows-alt-h"></i> <b style="color: black">Москва</b>
            </div>
            <div class="card-body">
              <h5 class="card-title"></h5>
              <div class="row">
                <div class="col-lg-6">
                  <p class="card-text" style="color:black !important;font-size:14px;padding-left:5px">Закажи целую машину для перевозки груза<br> за 12 часов от<b> 18000Р</b></p>
                  <%= link_to 'Заказать', modal_path,  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window', class: 'main_btn', style:'width:100%'}  %>
                </div>
                <div class="col-lg-6">
                  <p class="card-text" style="color:black !important;font-size:14px;padding-left:5px">Рассчитай доставку от адреса до адреса<br>в течении дня<br></p>
                  <a id="marginbutton" class="main_btn col-lg-4.offset-md-3 col-sm-4.offset-md-3 col-xs-4.offset-md-3" href="#calculator" style="width:100%">
                  Рассчитать</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--================ End Home Banner Area =================-->
<!--================ Start Quote Area =================-->
<section id="calculator" style="margin:200px 0" class="quote-area">
  <div class="container">
    <div class="row justify-content-between align-items-center">
      <div class="col-lg-12">
        <div class="estimated-cost">
          <nav>
            <div class="nav nav-tabs justify-content-md-start justify-content-center" id="nav-tab" role="tablist">
              <a style="font-size:14px !important" class="nav-item nav-link active" id="nav-getEstimation-tab" data-toggle="tab" href="#nav-getEstimation" role="tab" aria-controls="nav-getEstimation" aria-selected="true">Доставка груза навалом</a>
              <a style="font-size:14px !important" class="nav-item nav-link" id="nav-gabariti-tab" data-toggle="tab" href="#nav-gabariti" role="tab" aria-controls="nav-gabariti" aria-selected="true">Доставка по габаритам</a>
              <a style="font-size:14px !important" class="nav-item nav-link" id="nav-pallets-tab" data-toggle="tab" href="#nav-pallets" role="tab" aria-controls="nav-pallets" aria-selected="true">Доставка груза паллеттами</a>
              <a style="font-size:14px !important" class="nav-item nav-link" id="nav-trackShipment-tab" data-toggle="tab" href="#nav-trackShipment" role="tab" aria-controls="nav-trackShipment" aria-selected="false">Доставка груза отдельной
                отдельной машины</a>
            </div>
          </nav>
          <!-- Tab Content -->
          <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-getEstimation" role="tabpanel" aria-labelledby="nav-getEstimation-tab">
              <%= form_with(model: @order, local: true) do |form| %>
                <div class="row">
                  <div class="col-lg-3">
                    <div class="form-group">
                      <%= form.label :Имя %><sup style="color:transparent">*</sup>
                      <%= form.text_field :name, class: "form-control", placeholder: "Имя", onfocus: "this.placeholder = ''", onblur: "this.placeholder = 'Имя'" %>
                    </div>
                  </div>
                  <div class="col-lg-3">
                    <div class="form-group">
                      <%= form.label :Фамилия %><sup style="color:transparent">*</sup>
                      <%= form.text_field :surname, class: "form-control", placeholder: "Фамилия", onfocus: "this.placeholder = ''", onblur: "this.placeholder = 'Фамилия'" %>
                    </div>
                  </div>
                  <div class="col-lg-3">
                    <div class="form-group">
                      <%= form.label :email %><sup>*</sup>
                      <%= form.text_field :email,  required: true, class: "form-control", placeholder: "E-mail", onfocus: "this.placeholder = ''", onblur: "this.placeholder = 'E-mail'" %>
                    </div>
                  </div>
                  <div class="col-lg-3">
                    <div class="form-group">
                      <%= form.label :Телефон %><sup>*</sup>
                      <%= form.phone_field :phone, required: true, class: "form-control", placeholder: "8XXXXXXXXXX", onfocus: "this.placeholder = '8XXXXXXXXXX'", onblur: "this.placeholder = '8XXXXXXXXXX'", pattern: "[0-9]{11}"  %>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <%= form.label "Откуда забираем" %><sup>*</sup>
                      <%= form.select :from, ['Санкт-Петербург', 'Москва', 'Московская область', 'Ленинградская область', 'Другой город'], {}, {class: "form-control"} %>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <%= form.label "Куда доставляем" %><sup>*</sup>
                      <%= form.select :to, ['Москва', 'Санкт-Петербург', 'Московская область', 'Ленинградская область', 'Другой город'], {}, {class: "form-control"} %>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="form-group">
                      <%= form.label "Дата доставки" %><sup style="color:transparent">*</sup>
                      <%= form.date_field :date, class: "form-control", placeholder: "Дата доставки", onfocus: "this.placeholder = 'Дата доставки'"%>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="form-group">
                      <%= form.label "Вес(кг)" %><sup>*</sup>
                      <%= form.text_field :weight,  required: true, class: "form-control", placeholder: "Введите вес", onblur: "this.placeholder = 'Введите вес'"%>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="form-group">
                      <%= form.label "Обьем(куб/метр)" %><sup>*</sup>
                      <%= form.number_field :volume, min: 0, max: 16, required: true, class: "form-control", placeholder: "Введите объем", onblur: "this.placeholder = 'Введите объем'" %>
                    </div>
                  </div>
                  <div class="col-lg-12 mt-4">
                    <div class="text-center confirm_btn_box">
                      <%= button_to 'Рассчитать цену', orders_path, method: :post, action: :create, class: :"main_btn text-uppercase" %>
                      </td>
                    </div>
                  </div>
                </div>
                </div>
              <% end %>
              <div class="tab-pane fade show" id="nav-gabariti" role="tabpanel" aria-labelledby="nav-gabariti-tab">
                <%= form_with(model: @order, local: true) do |form| %>
                  <div class="row">
                    <div class="col-lg-3">
                      <div class="form-group">
                        <%= form.label :Имя %><sup style="color:transparent">*</sup>
                        <%= form.text_field :name, class: "form-control", placeholder: "Имя", onfocus: "this.placeholder = ''", onblur: "this.placeholder = 'Имя'" %>
                      </div>
                    </div>
                    <div class="col-lg-3">
                      <div class="form-group">
                        <%= form.label :Фамилия %><sup style="color:transparent">*</sup>
                        <%= form.text_field :surname, class: "form-control", placeholder: "Фамилия", onfocus: "this.placeholder = ''", onblur: "this.placeholder = 'Фамилия'" %>
                      </div>
                    </div>
                    <div class="col-lg-3">
                      <div class="form-group">
                        <%= form.label :email %><sup>*</sup>
                        <%= form.text_field :email,  required: true, class: "form-control", placeholder: "E-mail", onfocus: "this.placeholder = ''", onblur: "this.placeholder = 'E-mail'" %>
                      </div>
                    </div>
                    <div class="col-lg-3">
                      <div class="form-group">
                        <%= form.label :Телефон %><sup>*</sup>
                        <%= form.phone_field :phone, required: true, class: "form-control", placeholder: "8XXXXXXXXXX", onfocus: "this.placeholder = '8XXXXXXXXXX'", onblur: "this.placeholder = '8XXXXXXXXXX'", pattern: "[0-9]{11}"  %>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group">
                        <%= form.label "Откуда забираем" %><sup>*</sup>
                        <%= form.select :from, ['Санкт-Петербург', 'Москва', 'Московская область', 'Ленинградская область', 'Другой город'], {}, {class: "form-control"} %>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group">
                        <%= form.label "Куда доставляем" %><sup>*</sup>
                        <%= form.select :to, ['Москва', 'Санкт-Петербург', 'Московская область', 'Ленинградская область', 'Другой город'], {}, {class: "form-control"} %>
                      </div>
                    </div>
                    <div class="col-lg-3">
                      <div class="form-group">
                        <%= form.label "Дата доставки" %><sup style="color:transparent">*</sup>
                        <%= form.date_field :date, class: "form-control", placeholder: "Дата доставки", onfocus: "this.placeholder = ''", onblur: "this.placeholder = 'Дата доставки'" %>
                      </div>
                    </div>
                    <div class="col-lg-3">
                      <div class="form-group">
                        <%= form.label "Вес(кг)" %><sup>*</sup>
                        <%= form.text_field :weight, required: true, class: "form-control", placeholder: "Введите вес", onfocus: "this.placeholder = ''", onblur: "this.placeholder = 'Введите вес'" %>
                      </div>
                    </div>
                    <div class="col-lg-3">
                      <div class="form-group">
                        <%= form.label "Ширина(м)" %><sup>*</sup>
                        <%= form.text_field :width, required: true, class: "form-control", placeholder: "Введите ширину", onfocus: "this.placeholder = ''", onblur: "this.placeholder = 'Введите ширину'" %>
                      </div>
                    </div>
                    <div class="col-lg-3">
                      <div class="form-group">
                        <%= form.label "Длина(м)" %><sup>*</sup>
                        <%= form.text_field :length, required: true, class: "form-control", placeholder: "Введите длину", onfocus: "this.placeholder = ''", onblur: "this.placeholder = 'Введите длину'" %>
                      </div>
                    </div>
                    <div class="col-lg-3">
                      <div class="form-group">
                        <%= form.label "Высота(м)"  %><sup>*</sup>
                        <%= form.text_field :height, required: true, class: "form-control", placeholder: "Введите высоту", onfocus: "this.placeholder = ''", onblur: "this.placeholder = 'Введите высоту" %>
                      </div>
                    </div>
                    <div class="col-lg-12 mt-4">
                      <div class="text-center confirm_btn_box">
                        <%= button_to 'Рассчитать цену', orders_path, method: :post, action: :create, class: :"main_btn text-uppercase" %>
                        </td>
                      </div>
                    </div>
                  </div>
                  </div>
                <% end %>
                <div class="tab-pane fade show" id="nav-pallets" role="tabpanel" aria-labelledby="nav-pallets-tab">
                <%= form_with(model: @order, local: true) do |form| %>
                  <div class="row">
                    <div class="col-lg-3">
                      <div class="form-group">
                        <%= form.label :Имя %><sup style="color:transparent">*</sup>
                        <%= form.text_field :name, class: "form-control", placeholder: "Имя", onfocus: "this.placeholder = ''", onblur: "this.placeholder = 'Имя'" %>
                      </div>
                    </div>
                    <div class="col-lg-3">
                      <div class="form-group">
                        <%= form.label :Фамилия %><sup style="color:transparent">*</sup>
                        <%= form.text_field :surname, class: "form-control", placeholder: "Фамилия", onfocus: "this.placeholder = ''", onblur: "this.placeholder = 'Фамилия'" %>
                      </div>
                    </div>
                    <div class="col-lg-3">
                      <div class="form-group">
                        <%= form.label :email %><sup>*</sup>
                        <%= form.text_field :email, required: true, class: "form-control", placeholder: "E-mail", onfocus: "this.placeholder = ''", onblur: "this.placeholder = 'E-mail'" %>
                      </div>
                    </div>
                    <div class="col-lg-3">
                      <div class="form-group">
                        <%= form.label :Телефон %><sup>*</sup>
                        <%= form.phone_field :phone, required: true, class: "form-control", placeholder: "8XXXXXXXXXX", onfocus: "this.placeholder = '8XXXXXXXXXX'", onblur: "this.placeholder = '8XXXXXXXXXX'", pattern: "[0-9]{11}"  %>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group">
                        <%= form.label "Откуда забираем" %><sup>*</sup>
                        <%= form.select :from, ['Санкт-Петербург', 'Москва', 'Московская область', 'Ленинградская область', 'Другой город'], {}, {class: "form-control"} %>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group">
                        <%= form.label "Куда доставляем" %><sup>*</sup>
                        <%= form.select :to, ['Москва', 'Санкт-Петербург', 'Московская область', 'Ленинградская область', 'Другой город'], {}, {class: "form-control"} %>
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="form-group">
                        <%= form.label "Дата доставки" %><sup style="color:transparent">*</sup>
                        <%= form.date_field :date, class: "form-control", placeholder: "Дата доставки", onfocus: "this.placeholder = ''", onblur: "this.placeholder = 'Дата доставки'" %>
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="form-group">
                        <%= form.label "Вес(кг)" %><sup>*</sup>
                        <%= form.text_field :weight, required: true, class: "form-control", placeholder: "Введите вес", onfocus: "this.placeholder = ''", onblur: "this.placeholder = 'Введите вес в кг'" %>
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="form-group">
                        <%= form.label "Кол-во паллетт" %><sup>*</sup>
                        <%= form.text_field :pallett, required: true, class: "form-control", placeholder: "Введите кол-во паллетт", onfocus: "this.placeholder = ''", onblur: "this.placeholder = 'Введите кол-во паллетт'" %>
                      </div>
                    </div>
                    <div class="col-lg-12 mt-4">
                      <div class="text-center confirm_btn_box">
                        <%= button_to 'Рассчитать цену', orders_path, method: :post, action: :create, class: :"main_btn text-uppercase" %>
                        </td>
                      </div>
                    </div>
                  </div>
                  </div>
                <% end %>
              <div class="tab-pane fade" id="nav-trackShipment" role="tabpanel" aria-labelledby="nav-trackShipment-tab">
                <%= form_with(model: @order, local: true) do |form| %>
                  <div class="row">
                    <div class="col-lg-3">
                      <div class="form-group">
                        <%= form.label :Имя %><sup style="color:transparent">*</sup>
                        <%= form.text_field :name, class: "form-control", placeholder: "Имя", onfocus: "this.placeholder = ''", onblur: "this.placeholder = 'Имя'" %>
                      </div>
                    </div>
                    <div class="col-lg-3">
                      <div class="form-group">
                        <%= form.label :Фамилия %><sup style="color:transparent">*</sup>
                        <%= form.text_field :surname, class: "form-control", placeholder: "Фамилия", onfocus: "this.placeholder = ''", onblur: "this.placeholder = 'Фамилия'" %>
                      </div>
                    </div>
                    <div class="col-lg-3">
                      <div class="form-group">
                        <%= form.label :email %><sup>*</sup>
                        <%= form.text_field :email, required: true, class: "form-control", placeholder: "E-mail", onfocus: "this.placeholder = ''", onblur: "this.placeholder = 'E-mail'" %>
                      </div>
                    </div>
                    <div class="col-lg-3">
                      <div class="form-group">
                        <%= form.label :Телефон %><sup>*</sup>
                        <%= form.phone_field :phone, required: true, class: "form-control", placeholder: "8XXXXXXXXXX", onfocus: "this.placeholder = '8XXXXXXXXXX'", onblur: "this.placeholder = '8XXXXXXXXXX'", pattern: "[0-9]{11}"  %>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group">
                        <%= form.label "Откуда забираем" %><sup>*</sup>
                        <%= form.select :from, ['Санкт-Петербург', 'Москва', 'Московская область', 'Ленинградская область', 'Другой город'], {}, {class: "form-control"} %>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group">
                        <%= form.label "Куда доставляем" %><sup>*</sup>
                        <%= form.select :to, ['Москва', 'Санкт-Петербург', 'Московская область', 'Ленинградская область', 'Другой город'], {}, {class: "form-control"} %>
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="form-group">
                        <%= form.label "Дата доставки" %><sup style="color:transparent">*</sup>
                        <%= form.date_field :date, class: "form-control", placeholder: "Address to", onfocus: "this.placeholder = ''", onblur: "this.placeholder = 'Дата доставки'" %>
                      </div>
                    </div>
                    <div class="col-lg-8">
                      <div class="form-group">
                        <%= form.label "Машина" %><sup>*</sup>
                        <%= form.select :car, ['Машина до 2 тонн, максимум 16 метров кубических', 'Машина до 3 тонн, максимум 20 метров кубических', 'Машина до 5 тонн, максимум 35 метров кубических'], {}, {class: "form-control"} %>
                      </div>
                    </div>
                    <div class="col-lg-12 mt-4">
                      <div class="text-center confirm_btn_box">
                        <%= button_to 'Рассчитать цену', orders_path, method: :post, action: :create, class: :"main_btn text-uppercase" %>
                        </td>
                      </div>
                    </div>
                  </div>
                  </div>
                <% end %>
                <div class="tab-pane fade" id="nav-documents" role="tabpanel" aria-labelledby="nav-documents-tab">
                  <div class="row">
                    <div class="col-lg-12 mt-4">
                      <div class="text-center confirm_btn_box">
                        <button class="main_btn text-uppercase">Request a Quote</button>
                      </div>
                    </div>
                  </div>
                </div>
                </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<!--================ End Quote Area =================-->
<!--================ Feature Area =================-->
<section id="about" style="background-color:#070475" class="feature-area section_gap_top">
  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col-lg-7">
        <div class="row">
          <div class="col-lg-4 col-md-4">
            <div class="single-feature">
              <%= image_tag "feature/f1.png", class: "lazy" %>
              <h4>Скорость доставки</h4>
              <p>
                Груз будет доставлен на следующий день после погрузки. В случае заказа отдельной машины, доставим груз
                в течении 12 часов.
              </p>
            </div>
          </div>
          <div class="col-lg-4 col-md-4">
            <div class="single-feature">
              <%= image_tag "feature/f2.png" , class: "lazy"%>
              <h4>Погрузка</h4>
              <p>
                При необходимости предоставим необходимое количество грузчиков в место погрузки или выгрузки.
              </p>
            </div>
          </div>
          <div class="col-lg-4 col-md-4">
            <div class="single-feature">
              <%= image_tag "feature/f5.png" , class: "lazy"%>
              <h4>Упаковка</h4>
              <p>
                Профессионально выполненная упаковка и верно подобранные упаковочные материалы защитят груз от
                повреждений.
              </p>
            </div>
          </div>
          <div class="col-lg-4 col-md-4">
            <div class="single-feature">
              <%= image_tag "feature/f6.png", class: "lazy" %>
              <h4>Страховка</h4>
              <p>
                Мы предлагаем клиентам выгодные условия страхования грузов на все время перевозки, независимо от грузов.
              </p>
            </div>
          </div>
          <div class="col-lg-4 col-md-4">
            <div class="single-feature">
              <%= image_tag "feature/f3.png", class: "lazy" %>
              <h4>Ценовая политика</h4>
              <p>
                Наши цены самые низкие. В цену уже включены забор груза у отправителя и доставка по нужному адресу
                получателю.
              </p>
            </div>
          </div>
          <div class="col-lg-4 col-md-4">
            <div class="single-feature">
              <%= image_tag "feature/f4.png", class: "lazy" %>
              <h4>Buisness to buisness</h4>
              <p>
                Заключаем долгосрочные договора с оплатой по безналичному
                расчету, с отсрочкой платежа.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-5 offset-md-0 col-md-12 text-left section-title-wrap mt-4 mt-lg-0">
        <h3>
          Грузоперевозки между Москвой
          и Санкт-Петербургом <br>
          Выбор очевиден.
        </h3>
        <h4></h4>
        <p>
          Мы осуществляем грузоперевозки автомобильным транспортом: между Санкт-Петербургом и Москвой,
          доставляем по всей Центральной части России <br><br>
          Мы используем разнообразный автотранспорт грузоподъёмностью до 5 тонн, с различными объемами  кузова<br><br> Мы производим перевозки грузов исключительно за
          счет собственных ресурсов, без перегрузов, и терминального хранения(door-to-door)! <br><br> Мы можем
          гарантировать исключительное качество наших услуг – доставку груза на следующий день в удобное для Вас время и
          сохранность Вашего отправления!
        </p>
      </div>
    </div>
  </div>
</section>
<!--================ End Feature Area =================-->
<!--================ About Area =================-->
<section class="about-area" style="margin-top:50px">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="row justify-content-center text-left section-title-wrap">
          <div class="col-lg-12">
            <h2>
              Наши партнеры
            </h2>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-10">
            <div class="row">
              <div class="col-lg-4 col-md-4 col-6 single_brand">
                <%= image_tag "about/brand1.png", class: "lazy" %>
              </div>
              <div class="col-lg-4 col-md-4 col-6 single_brand">
                <%= image_tag "about/brand2.png", class: "lazy" %>
              </div>
              <div class="col-lg-4 col-md-4 col-6 single_brand">
                <%= image_tag "about/brand3.png", class: "lazy" %>
              </div>
              <div class="col-lg-4 col-md-4 col-6 single_brand">
                <%= image_tag "about/brand4.png", class: "lazy" %>
              </div>
              <div class="col-lg-4 col-md-4 col-6 single_brand">
                <%= image_tag "about/brand5.png", class: "lazy" %>
              </div>
              <div class="col-lg-4 col-md-4 col-6 single_brand">
                <%= image_tag "about/brand6.png", class: "lazy" %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3" style="margin-top:120px">
        <div style="margin-top:60px;" class="about_box">
          <div class="activity">
              <div class="col-lg-12 col-md-12 col-12 text-center">
                <div class="activity_box">
                  <div>
                    <%= image_tag "about/i1.png", class: "lazy" %>
                  <h3><span class="counter">25000</span>+</h3>
                  <p>Грузов доставлено</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--================ End About Area =================-->
<!--================ Start CTA Area ================-->
<section class="cta_area">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="cta_inner d-flex flex-md-row flex-column justify-content-between align-items-center">
          <div class="mb-md-0 mb-4 text-sm-left text-center col-lg-8 col-sm-8 col-md-8">
            <p>Хотите узнать подробнее?</p>
            <h1 style="font-size:30px">Закажите звонок <br> и мы перезвоним вам в течении 10 минут</h1>
          </div>
          <div class="mb-md-0 mb-4 text-sm-left text-center col-lg-4 col-sm-10 col-md-4">
            <%= link_to 'Заказать', modal_path,  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window', class: 'main_btn', style:'width:100%'}  %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>
</section>

<!--================ End CTA Area ================-->

