<!--================ Start Quote Area =================-->
<% content_for :head do %>
  <meta name="robots" content="noindex, nofollow" />
  <meta name="googlebot" content="noindex" />
<% end %>
<section style="margin-top:50px" class="quote-area">
  <div class="container">
    <div class="row justify-content-between align-items-center">
      <div class="col-lg-12">
       <div class="card">
         <div class="jumbotron card card-image" style="background-color: whitesmoke; no-repeat center;padding:0;margin-bottom:0">
           <div class="text-white text-center py-5 px-4">
             <div>
               <h2 style="color: black !important"class="card-title h1-responsive pt-3 mb-5 font-bold"><strong>Ваш заказ</strong></h2>
               <% if @order.price.nil? || @order.price == 0  %>
                 <p style="color:black !important;" class="lead"><strong><%= @text %></strong></p>
               <% else %>
                 <h5 style="color: black;">Предварительная цена:</h5><p class="lead" style="color:black !important;font-size:18px;font-style:bold"><strong><%= @order.price %> рублей</strong></p>
                 <h5 style="color: black;">Со скидкой 10% на первый заказ</h5><p class="lead" style="color:black !important;font-size:18px;font-style:bold"><strong><%= (@order.price*0.9).to_i %> рублей</strong></p>
                 <div class="form-group">
                   <strong>
                     <% if @order.car_enabled == true %>
                       Да
                     <% else %>
                       Нет
                     <% end %>
                   </strong></p>
                 </div>
               <% end %>
               <hr class="my-4">
               <div class="row">
                 <div class="col-lg-3">
                   <div class="form-group">
                     <h6 style="margin-bottom:0;color: black;">Имя:</h6>
                     <p style="color:black !important;font-size:14px"><strong><%= @order.name %></strong></p>
                   </div>
                 </div>
                 <div class="col-lg-3">
                   <div class="form-group">
                     <h6 style="color: black;margin-bottom:0">Фамилия:</h6><p class="card-text" style="color:black !important;font-size:14px"><strong><%= @order.surname %></strong></p>
                   </div>
                 </div>
                 <div class="col-lg-3">
                   <div class="form-group">
                     <h6 style="color: black;margin-bottom:0">E-mail:</h6><p class="card-text" style="color:black !important;font-size:14px"><strong><%= @order.email %></strong></p>
                   </div>
                 </div>
                 <div class="col-lg-3">
                   <div class="form-group">
                     <h6 style="color: black;margin-bottom:0">Телефон:</h6><p class="card-text" style="color:black !important;font-size:14px"><strong><%= @order.phone %></strong></p>
                   </div>
                 </div>
                 <div class="col-lg-3">
                   <div class="form-group">
                     <h6 style="color: black;margin-bottom:0">Откуда:</h6><p class="card-text" style="color:black !important;font-size:14px"><strong><%= @order.from %></strong></p>
                   </div>
                 </div>
                 <div class="col-lg-3">
                   <div class="form-group">
                     <h6 style="color: black;margin-bottom:0">Куда:</h6><p class="card-text" style="color:black !important;font-size:14px"><strong><%= @order.to %></strong></p>
                   </div>
                 </div>
                 <div class="col-lg-3">
                   <div class="form-group">
                     <h6 style="color: black;margin-bottom:0">Вес:</h6><p class="card-text" style="color:black !important;font-size:14px"><strong><%= @order.weight %> кг</strong></p>
                   </div>
                 </div>
                 <div class="col-lg-3">
                   <div class="form-group">
                     <h6 style="color: black;margin-bottom:0">Объем:</h6><p class="card-text" style="color:black !important;font-size:14px"><strong><%= @order.volume %> куб.м.</strong></p>
                   </div>
                 </div>
               </div>
             </div>
             <%= button_to 'Отправить заявку', order_send_mail_path(@order), class: "btn btn-success btn-rounded mb-4", style: "margin-top:20px" %>
             <%= link_to 'Вернуться на главную', root_path, class: "btn btn-success btn-rounded mb-4", style: "margin-top:20px;border:1px solid black !important;color:black" %>
           </div>
         </div>
       </div>
</section>
<!--================ End Quote Area =================-->
<!--================ Feature Area =================-->
<section style="background-color:#070475" class="feature-area section_gap_top">
  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col-lg-7">
        <div class="row">
          <div class="col-lg-4 col-md-4">
            <div class="single-feature">
              <%= image_tag "feature/f1.png", class: "lazy" %>
              <h4>Скорость доставки</h4>
              <p>
                Груз будет доставлен на следующий день после погрузки. В случае заказа отдельной машины, доставим груз
                в течении 12 часов.
              </p>
            </div>
          </div>
          <div class="col-lg-4 col-md-4">
            <div class="single-feature">
              <%= image_tag "feature/f2.png", class: "lazy" %>
              <h4>Погрузка</h4>
              <p>
                При необходимости предоставим необходимое количество грузчиков в место погрузки или выгрузки.
              </p>
            </div>
          </div>
          <div class="col-lg-4 col-md-4">
            <div class="single-feature">
              <%= image_tag "feature/f5.png", class: "lazy" %>
              <h4>Упаковка</h4>
              <p>
                Профессионально выполненная упаковка и верно подобранные упаковочные материалы защитят груз от повреждений.
              </p>
            </div>
          </div>
          <div class="col-lg-4 col-md-4">
            <div class="single-feature">
              <%= image_tag "feature/f6.png", class: "lazy" %>
              <h4>Страховка</h4>
              <p>
                Мы предлагаем клиентам выгодные условия страхования грузов на все время перевозки, независимо от грузов.
              </p>
            </div>
          </div>
          <div class="col-lg-4 col-md-4">
            <div class="single-feature">
              <%= image_tag "feature/f3.png", class: "lazy" %>
              <h4>Ценовая политика</h4>
              <p>
                Наши цены самые низкие. В цену уже включены забор груза у отправителя и доставка по нужному адресу получателю.
              </p>
            </div>
          </div>
          <div class="col-lg-4 col-md-4">
            <div class="single-feature">
              <%= image_tag "feature/f4.png", class: "lazy" %>
              <h4>Buisness to buisness</h4>
              <p>
                Заключаем долгосрочные договора с оплатой по безналичному расчету, с отсрочкой платежа.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-5 offset-md-0 col-md-12 text-left section-title-wrap mt-4 mt-lg-0">
        <h3>
          Грузоперевозки между Москвой
          и Санкт-Петербургом <br>
          Выбор очевиден.
        </h3>
        <h4></h4>
        <p>
          Мы осуществляем грузоперевозки автомобильным транспортом: между Санкт-Петербургом и Москвой,
          доставляем по всей Центральной части России <br><br>
          Мы используем разнообразный автотранспорт грузоподъёмностью до 5 тонн, с различными объемами  кузова<br><br> Мы производим перевозки грузов исключительно за
          счет собственных ресурсов, без перегрузов, и терминального хранения(door-to-door)! <br><br> Мы можем
          гарантировать исключительное качество наших услуг – доставку груза на следующий день в удобное для Вас время и
          сохранность Вашего отправления!
        </p>
      </div>
    </div>
  </div>
</section>
<!--================ End Feature Area =================-->
<!--================ About Area =================-->
<section class="about-area" style="margin-top:50px">
  <section class="about-area" style="margin-top:50px">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <div class="row justify-content-center text-left section-title-wrap">
            <div class="col-lg-12">
              <h2>
                Наши партнеры
              </h2>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-10">
              <div class="row">
                <div class="col-lg-4 col-md-4 col-6 single_brand">
                  <%= image_tag "about/brand1.png", class: "lazy" %>
                </div>
                <div class="col-lg-4 col-md-4 col-6 single_brand">
                  <%= image_tag "about/brand2.png", class: "lazy" %>
                </div>
                <div class="col-lg-4 col-md-4 col-6 single_brand">
                  <%= image_tag "about/brand3.png", class: "lazy" %>
                </div>
                <div class="col-lg-4 col-md-4 col-6 single_brand">
                  <%= image_tag "about/brand4.png", class: "lazy" %>
                </div>
                <div class="col-lg-4 col-md-4 col-6 single_brand">
                  <%= image_tag "about/brand5.png", class: "lazy" %>
                </div>
                <div class="col-lg-4 col-md-4 col-6 single_brand">
                  <%= image_tag "about/brand6.png", class: "lazy" %>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3" style="margin-top:120px">
          <div style="margin-top:60px;" class="about_box">
            <div class="activity">
              <div class="col-lg-12 col-md-12 col-12 text-center">
                <div class="activity_box">
                  <div>
                    <%= image_tag "about/i1.png", class: "lazy" %>
                    <h3><span class="counter">25000</span>+</h3>
                    <p>Грузов доставлено</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
<!--================ End About Area =================-->
<!--================ Start CTA Area ================-->
<section class="cta_area">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="cta_inner d-flex flex-md-row flex-column justify-content-between align-items-center">
          <div class="mb-md-0 mb-4 text-sm-left text-center col-lg-8 col-sm-8 col-md-8">
            <p>Хотите узнать подробнее?</p>
            <h1 style="font-size:30px">Закажите звонок и мы перезвоним вам в течении 10 минут</h1>
          </div>
          <div class="mb-md-0 mb-4 text-sm-left text-center col-lg-8 col-sm-8 col-md-8">
            <%= link_to 'Заказать', modal_path,  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window', class: 'main_btn', style:'width:100%'}  %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>
</section>
<!--================ End CTA Area ================-->

