@media (max-width:1619px) {
    /* Main Menu Area css
	============================================================================================ */
    .header_area .navbar .search {
        margin-left: 40px;
    }
    /* End Main Menu Area css
	============================================================================================ */
}

@media (max-width: 1440px) {
}

@media (max-width:1300px) {
}

@media (max-width:1199px) {
    /* Main Menu Area css
	============================================================================================ */
    .header_area .navbar .nav .nav-item {
        margin-right: 20px;
    }
    /* End Main Menu Area css
	============================================================================================ */
    /* Home Banner Area css
	============================================================================================ */
    /* End Home Banner Area css
	============================================================================================ */
    .home_contact_area .left_img {
        width: 100%;
        float: none;
    }
    .home_contact_area .left_img img {
        width: 100%;
    }
    .home_contact_area .h_right_form {
        width: 100%;
        float: none;
        min-height: auto;
        padding-left: 0px;
    }
    .home_contact_area .h_right_form .h_form_inner {
        margin: auto;
        padding-bottom: 100px;
    }
    .row.home_contact_form {
        margin-left: 0px;
        margin-right: 0px;
    }
    .most_product_area .main_box {
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .s_product_text {
        margin-left: 0px;
        margin-top: 0px;
    }
    .login_form_inner h3 {
        margin-bottom: 35px;
    }
    .login_form_inner {
        padding-top: 65px;
    }
    .login_form_inner.reg_form h3 {
        margin-bottom: 10px;
    }
    .login_form_inner.reg_form {
        padding-top: 30px;
    }
}

@media (max-width: 1024px) {
	.single-footer-widget .form-group .main_btn {
		padding: 0px 30px;
	}
	.feedback_area .active-review-carusel .owl-dots {
		right: 36%;
	}
}

@media (max-width:991px) {
    /* Main Menu Area css
	============================================================================================ */
    .navbar-toggler {
        border: none;
        border-radius: 0px;
        padding: 0px;
        cursor: pointer;
        margin-top: 27px;
        margin-bottom: 23px;
    }
	.header_area .navbar {
		background: #fff;
	}
	.header_area .navbar .right_nav hr {
		display: none;
	}
    .navbar-toggler[aria-expanded="false"] span:nth-child(2) {
		opacity: 1;
	}
	.navbar-toggler[aria-expanded="true"] span:nth-child(2) {
		opacity: 0;
	}
	.navbar-toggler[aria-expanded="true"] span:first-child {
		transform: rotate(-45deg);
		-webkit-transform: rotate(-45deg);
		-ms-transform: rotate(-45deg);
		-moz-transform: rotate(-45deg);
		-o-transform: rotate(-45deg);
		position: relative;
		top: 7.5px;
	}
	.navbar-toggler[aria-expanded="true"] span:last-child {
		transform: rotate(45deg);
		bottom: 6px;
		position: relative;
	}
	.navbar-toggler span{
		display: block;
		width: 25px;
		height: 3px;
		background: #e72727;
		margin: auto;
		margin-bottom: 4px;
		transition: all 400ms linear;
		cursor: pointer;
	}
    .navbar .container{
        padding-left: 15px;
        padding-right: 15px;
    }
    .nav{
        padding: 0px 0px;
    }
    .header_top .nav{
        padding: 0px;
    }
    .header_area .navbar .nav .nav-item .nav-link{
        line-height: 40px;
        margin-right: 0px;
        display: block;
		border-bottom: 1px solid #ededed33;
		border-radius: 0px;
    }
    .header_area .navbar .search{
        margin-left: 0px;
    }
	.header_area .navbar-collapse{
		max-height: 340px;
		overflow-y: scroll;
	}
	.header_area .navbar .nav .nav-item.submenu ul .nav-item .nav-link {
		padding: 0px 15px;
	}
	.header_area .navbar .nav .nav-item {
		margin-right: 0px;
	}
	.header_area.navbar_fixed .main_menu .navbar .nav .nav-item .nav-link {
		line-height: 40px;
	}
	.header_area .navbar .nav.navbar-nav.navbar-right li:first-child {
		margin-left: 0px;
	}
	.header_area .navbar .cart {
		line-height: 40px;
	}
	.header_area .navbar .search {
		line-height: 40px;
	}
	.header_area .navbar .nav.navbar-nav.navbar-right li {
		margin-left: 0px;
	}
	/* End Main Menu Area css
	============================================================================================ */
    .procedure_category .mb-30 {
        margin-bottom: 0 !important;
    }
    .banner_area {
        min-height: 420px;
    }
    .team-area .single-team {
        margin-bottom: 30px;
    }
    .team-area .single-team .mb-50 {
        margin-bottom: 0 !important;
    }
    .service_area .mb-60 {
        margin-bottom: 0 !important;
    }
    /* End Main Menu Area css
	============================================================================================ */
    /* Blog page Area css
	============================================================================================ */
    .categories_post img {
        width: 100%;
    }
    .categories_post {
        /* max-width: 360px; */
        margin: 0 0 30px auto;
    }
    .blog_area {
        padding-bottom: 80px;
    }
    .single-post-area .blog_right_sidebar {
        margin-top: 30px;
    }
    /* End Blog page Area css
	============================================================================================ */
    /* Contact Page Area css
	============================================================================================ */
    .contact_info {
        margin-bottom: 50px;
    }
    /* End Contact page Area css
	============================================================================================ */
    .home_banner_area .donation_inner {
        margin-bottom: -30px;
    }
    .home_banner_area .dontation_item {
        max-width: 350px;
        margin: auto;
    }
    /* Footer Area css
	============================================================================================ */
	.single-footer-widget h3 {
		font-size: 14px;
	}
	.single-footer-widget.newsletter {
		margin-top: 16px;
	}
	.footer-area h6 {
		margin-bottom: 10px;
	}
    /* End End Footer Area css
	============================================================================================ */
    .left_sidebar_area {
        margin-top: 50px;
    }
    .s_product_text {
        margin-top: 30px;
    }
    .review_box {
        margin-top: 50px;
    }
    .cart_inner .table tbody tr.bottom_button td .cupon_text {
        margin-left: 0px;
        width: 200px;
    }
    .cart_inner .table tbody tr.bottom_button td .cupon_text .main_btn {
        width: 100%;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .cart_inner .table tbody tr.bottom_button td .cupon_text .gray_btn {
        width: 100%;
    }
    .order_d_inner .details_item {
        margin-bottom: 30px;
    }
    .order_d_inner {
        margin-bottom: -30px;
    }
    .login_box_img img {
        width: 100%;
    }
    .login_form_inner {
        padding-bottom: 50px;
    }
    .login_box_area .login_box_img {
        margin-right: 0px;
    }
    .cupon_area input {
        margin-left: 0px;
    }
    .cupon_area .tp_btn {
        margin-left: 0px;
    }
    .login_form_inner.reg_form {
        padding-top: 60px;
    }
}

@media (max-width:768px) {
    /* Blog Page Area css
	============================================================================================ */
    .blog_banner .banner_inner .blog_b_text h2 {
        font-size: 40px;
        line-height: 50px;
    }
    .blog_info.text-right {
        text-align: left !important;
        margin-bottom: 10px;
    }
    /* End Blog Page Area css
	============================================================================================ */
    .home_banner_area .banner_inner .banner_content h3 {
        font-size: 30px;
        line-height: 40px;
    }
    .home_banner_area .banner_inner .banner_content p {
        margin-bottom: 0px;
    }
    .home_banner_area .banner_inner .banner_content .white_bg_btn {
        margin-top: 25px;
    }
    .home_banner_area .banner_inner .banner_content p br {
        display: none;
    }
    .home_banner_area .banner_inner .banner_content h3 span {
        line-height: 45px;
        padding-bottom: 0px;
        padding-top: 0px;
    }
    /* Footer Area css
	============================================================================================ */
    .footer-bottom {
		text-align: center;
		padding-top: 30px;
    }
    .footer-bottom .footer-social {
        text-align: center;
        margin-top: 15px;
    }
    /* End End Footer Area css
	============================================================================================ */
    .footer_area .container.box_1620 {
        width: 100%;
        max-width: 100%;
        padding: 0px;
    }
    .footer_inner .f_menu li {
        margin-right: 18px;
    }
    .footer_inner {
        padding-left: 15px;
        padding-right: 15px;
    }
    .footer_area .container.box_1620 {
        width: 100%;
        max-width: 100%;
        padding: 0px;
    }
    .footer_inner .f_menu li {
        margin-right: 18px;
    }
    .footer_inner {
        padding-left: 15px;
        padding-right: 15px;
    }
    .product_top_bar {
        display: block;
        clear: inherit;
    }
    .product_top_bar .left_dorp {
        width: 100%;
        display: block;
    }
    .product_top_bar .left_dorp .sorting {
        display: block;
        width: 100%;
        float: none;
    }
    .product_top_bar .left_dorp .show {
        display: block;
        width: 100%;
        margin-left: 0px;
        flex: none;
    }
    /*
	.p_filter_widgets .list li a::after {
		top: 7px;
	}
*/
}

@media (max-width:600px) {
}

@media (max-width:575px) {
    /* Home Banner Area css
	============================================================================================ */
    .blog_banner .banner_inner .blog_b_text {
        margin-top: 0px;
    }
    .home_banner_area .banner_inner .banner_content img {
        display: none;
    }
    .home_banner_area .banner_inner .banner_content h5 {
        margin-top: 0px;
    }
    .banner_area .banner_inner .banner_content .page_link a {
        margin-right: 16px;
    }
    .banner_area .banner_inner .banner_content .page_link a::before {
        right: -13px;
    }
    /* End Home Banner Area css
	============================================================================================ */
    .feedback_area .active-review-carusel .single-feedback-carusel {
        margin-top: 40px;
    }
    .p_120 {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .main_title h2 {
        font-size: 20px;
    }
    /* Elements Area css
	============================================================================================ */
    .sample-text-area {
        padding: 70px 0 70px 0;
    }
    .generic-blockquote {
        padding: 30px 15px 30px 30px;
    }
    /* End Elements Area css
	============================================================================================ */
    /* Blog Page Area css
	============================================================================================ */
    .blog_details h2 {
        font-size: 20px;
        line-height: 30px;
    }
    .blog_banner .banner_inner .blog_b_text h2 {
        font-size: 28px;
        line-height: 38px;
    }
    /* End Blog Page Area css
	============================================================================================ */
    /* Footer Area css
	============================================================================================ */
    /* End End Footer Area css
	============================================================================================ */
    .section_gap_top {
        padding-top: 70px;
    }
    .gallery_f_inner {
        max-width: 340px;
        margin: 0px auto -30px;
    }
    .h_form_inner h4 {
        padding-top: 70px;
        padding-bottom: 40px;
        font-size: 30px;
    }
    .home_contact_area .h_right_form .h_form_inner {
        padding-bottom: 50px;
    }
    .footer-bottom {
        padding-bottom: 0px;
    }
    .border_line {
        margin-top: 50px;
    }
    .timer_area {
        padding-top: 70px;
        padding-bottom: 70px;
    }
    .f_p_item {
        max-width: 263px;
        margin: 0px auto 30px;
    }
    .most_product_inner .col-lg-3 {
        text-align: center;
    }
    .most_p_list {
        display: inline-block;
    }
    .most_p_list .media .media-body {
        text-align: left;
    }
    .most_product_area .main_box {
        padding-top: 70px;
        padding-bottom: 70px;
    }
}

@media (max-width:480px) {
    /* Main Menu Area css
	============================================================================================ */
    .header_area .navbar-collapse {
		max-height: 300px;
    }
    /* End Main Menu Area css
	============================================================================================ */

    /* Blog Page Area css
	============================================================================================ */
    .comments-area .thumb {
        margin-right: 10px;
    }
    /* End Blog Page Area css
	============================================================================================ */
    .single-recent-blog h4 {
        margin-top: 20px;
    }
    .single-recent-blog p {
        margin: 20px 0px 0;
    }
    .total_rate .col-6 {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .total_rate .rating_list {
        margin-top: 20px;
    }
    .check_title h2 {
        line-height: 24px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .order_box {
        padding-left: 5px;
        padding-right: 5px;
    }
    .returning_customer .contact_form .form-group .creat_account {
        display: block;
        margin-left: 0px;
        margin-top: 10px;
    }
    .review_item.reply {
        padding-left: 0px;
    }
    .review_item .media .media-body .reply_btn {
        position: relative;
        top: 0px;
    }
    .returning_customer p {
        padding-left: 0px;
    }
    .returning_customer .contact_form {
        margin-left: 0px;
    }
    .returning_customer .contact_form .form-group {
        padding-left: 0px;
    }
}