<!DOCTYPE html>
<html>
  <head>
    <title>Авто Транспортные Технологии</title>
    <meta name="description"
          content="Грузоперевозки между Москвой и Санкт-Петербургом. Доставим за 12 часов">
    
    <meta property="og:type" content="business.business">
    <meta property="og:title" content="Авто Транспортные Технологии">
    <meta property="og:url" content="https://at-t.ru">
    <meta property="og:image" content="https://at-t.ru/favicon-194x194.png">
    <meta property="business:contact_data:street_address" content="проспект Самойловой, д.5, литера С">
    <meta property="business:contact_data:locality" content="Санкт-Петербург">
    <meta property="business:contact_data:region" content="Saint Petersburg">
    <meta property="business:contact_data:postal_code" content="192102">
    <meta property="business:contact_data:country_name" content="Russia">
    
    <%= yield :head %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/17f36d218f.js" async="async"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'favicon.png', :rel => 'icon', :type =>  'image/png' %>
    <!-- Yandex.Metrika counter -->
    <script async='async' type="text/javascript" >
      setTimeout(function(){
              (function (m, e, t, r, i, k, a) {
                  m[i] = m[i] || function () {
                      (m[i].a = m[i].a || []).push(arguments)
                  };
                  m[i].l = 1 * new Date();
                  k = e.createElement(t), a = e.getElementsByTagName(t)[0], k.async = 1, k.src = r, a.parentNode.insertBefore(k, a)
              })
              (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");
              ym(55537753, "init", {
                  clickmap: true,
                  trackLinks: true,
                  accurateTrackBounce: true,
                  webvisor: true
              });
          }, 5000
      );
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/55537753" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-148978562-1"></script>
    <script>
        setTimeout(function() {
            window.dataLayer = window.dataLayer || [];

            function gtag() {
                dataLayer.push(arguments);
            }

            gtag('js', new Date());

            gtag('config', 'UA-148978562-1');
        }, 5000);
    </script>
    <!-- /Global site tag (gtag.js) - Google Analytics -->

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png?v=wAMraJ5gdO">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png?v=wAMraJ5gdO">
    <link rel="icon" type="image/png" sizes="194x194" href="/favicon-194x194.png?v=wAMraJ5gdO">
    <link rel="icon" type="image/png" sizes="192x192" href="/android-chrome-192x192.png?v=wAMraJ5gdO">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png?v=wAMraJ5gdO">
    <link rel="manifest" href="/site.webmanifest?v=wAMraJ5gdO">
    <link rel="mask-icon" href="/safari-pinned-tab.svg?v=wAMraJ5gdO" color="#204f7e">
    <link rel="shortcut icon" href="/favicon.ico?v=wAMraJ5gdO">
    <meta name="msapplication-TileColor" content="#2b5797">
    <meta name="theme-color" content="#ffffff">

  </head>
  <body>
    <%= render 'shared/header' %>
    <% flash.each do |key, value| %>
    <div style="position:absolute;z-index:9999;top:150px;right:20px" class="<%= flash_class(key) %>">
      <%= value %>
    </div>
  <% end %>
  <div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content"></div>
    </div>
  </div>
    <%= yield %>
    <!-- Back to top button -->
    <button onclick="topFunction()" id="myBtn" title="Go to top"><i style="width:150%"><i class="fas fa-chevron-circle-up"></i></button>
    <%= render 'shared/footer' %>
  </body>
  <script async="async">
      //Get the button:
      mybutton = document.getElementById("myBtn");

      // When the user scrolls down 20px from the top of the document, show the button
      window.onscroll = function() {scrollFunction()};

      function scrollFunction() {
          if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
              mybutton.style.display = "block";
          } else {
              mybutton.style.display = "none";
          }
      }

      // When the user clicks on the button, scroll to the top of the document
      function topFunction() {
        window.scrollTo({top: 0, behavior: "smooth"});
      }
  </script>
  <script>
    document.querySelectorAll('a[href^="#"]').forEach(anchor => {
      anchor.addEventListener('click', function (e) {
        e.preventDefault();
        document.querySelector(this.getAttribute('href')).scrollIntoView({
          behavior: 'smooth'
        });
      });
    });
    $(document).on('click', 'a[href^="#"]', function (event) {
      event.preventDefault();

      $('html, body').animate({
        scrollTop: $($.attr(this, 'href')).offset().top
      }, 500);
    });
  </script>
  <script>
      setTimeout(function () {
          var script = document.createElement('script');
          script.type = 'text/javascript';
          script.src = '//code.jivosite.com/widget.js';
          script.dataset['jv-id'] = ""
          document.getElementsByTagName('head')[0].appendChild(script);
      }, 5000);
  </script>

  <!-- BEGIN JIVOSITE CODE {literal} -->
  <script type='text/javascript'>
      (function(){ document.jivositeloaded=0;var widget_id = 'uDLHDJRknj';var d=document;var w=window;function l(){var s = d.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = '//code.jivosite.com/script/widget/'+widget_id; var ss = document.getElementsByTagName('script')[0]; ss.parentNode.insertBefore(s, ss);}//эта строка обычная для кода JivoSite
          function zy(){
              //удаляем EventListeners
              if(w.detachEvent){//поддержка IE8
                  w.detachEvent('onscroll',zy);
                  w.detachEvent('onmousemove',zy);
                  w.detachEvent('ontouchmove',zy);
                  w.detachEvent('onresize',zy);
              }else {
                  w.removeEventListener("scroll", zy, false);
                  w.removeEventListener("mousemove", zy, false);
                  w.removeEventListener("touchmove", zy, false);
                  w.removeEventListener("resize", zy, false);
              }
              //запускаем функцию загрузки JivoSite
              if(d.readyState=='complete'){l();}else{if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}
              //Устанавливаем куку по которой отличаем первый и второй хит
              var cookie_date = new Date ( );
              cookie_date.setTime ( cookie_date.getTime()+60*60*28*1000); //24 часа для Москвы
              d.cookie = "JivoSiteLoaded=1;path=/;expires=" + cookie_date.toGMTString();
          }
          if (d.cookie.search ( 'JivoSiteLoaded' )<0){//проверяем, первый ли это визит на наш сайт, если да, то назначаем EventListeners на события прокрутки, изменения размера окна браузера и скроллинга на ПК и мобильных устройствах, для отложенной загрузке JivoSite.
              if(w.attachEvent){// поддержка IE8
                  w.attachEvent('onscroll',zy);
                  w.attachEvent('onmousemove',zy);
                  w.attachEvent('ontouchmove',zy);
                  w.attachEvent('onresize',zy);
              }else {
                  w.addEventListener("scroll", zy, {capture: false, passive: true});
                  w.addEventListener("mousemove", zy, {capture: false, passive: true});
                  w.addEventListener("touchmove", zy, {capture: false, passive: true});
                  w.addEventListener("resize", zy, {capture: false, passive: true});
              }
          }else {zy();}
      })();</script>
  <!-- {/literal} END JIVOSITE CODE -->
  <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js" defer></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Counter-Up/1.0.0/jquery.counterup.min.js" async="async"></script>
  <script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js" defer></script>
</html>
